name: Checks

on:
  pull_request:
    branches:
      - master
    paths:
      - 'src/**/*.cpp'
      - 'include/**/*.hpp'
      - 'tests/**/*.cpp'
      - 'java/**/*.java'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: MarkusJx/googletest-installer@v1.1

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libcxxopts-dev libeigen3-dev

      - name: Build project
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug
          cmake --build build --parallel $(nproc)

      - name: Run unit tests
        run: |
          cd build
          ctest -V --parallel $(nproc) 

  code-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Clang-format
        uses: jidicula/clang-format-action@v4.13.0
        with:
          clang-format-version: '20'
          check-path: '.'

  java-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Run Java native API tests
        run: ./scripts/java_test.sh